<p>product works!</p>
<div class="card">
    <div class="card-body">
        sayısı= {{model.getProducts().length}}
    </div>
</div>




<div class="card" *ngFor="let item of products">
    <div [class]="getClasses(item.id)">
        {{item.name}}
        {{item.price}}
        <button (click)="selectThis(item)">seç</button>
    </div> 
</div>




<div *ngIf="(selectedProduct) != null">
    <div class="">
        <input #namea required [value]="selectedProduct.name" type="text" name="pName" [class]="isValidInput(namea.value)" (change)="isValidInput(namea.value)">
        <!--<input #namea="ngModel" required [(ngModel)]="selectedProduct.name" type="text" name="pName">
        <div class="alert alert-danger" *ngIf="!selectedProduct.isThisValidForMe()">
            dnm
        </div>
-->
    </div>


    <div class="">
        <input #desc [value]="selectedProduct.desc" type="text">
    </div>


    <div class="">
        <img class="img-responsive" src="assets/img/{{selectedProduct.imgUrl}}" width="100">
        <input #imgUrl [value]="selectedProduct.imgUrl" type="text">
    </div>


    <div class="">
        <input #price required type="number" [value]="selectedProduct.price" type="text">
    </div>

    <button (click)="update(namea.value,desc.value,imgUrl.value,price.value); openDialog()">güncelle</button>
</div>



<!--
public id?:number,
public name?:string,
public desc?:string,
public imgUrl?:string,
public price?:number,
-->


<div class="card">
    <div class="card-body">
        <h4>lower upper</h4>
        <p>{{title}}</p>
        <p>{{title | lowercase}}</p>
        <p>{{title | uppercase}}</p>
        <p>{{title | titlecase}}</p>
        <p></p>

        <h4>date pipe</h4>
        <p>{{today}}</p>
        <p>{{today|date}}</p>


    </div>
</div>


<!--
<div class="card">
    <div class="card-body">
        <h2>{{product.name}}</h2>
    </div>
    <div class="card-body">
        <img src="assets/img/{{product.imgUrl}}">
        <img [src]="'assets/img/'+product.imgUrl">
    </div>
</div>
-->